#grabber-batch-flag{
	position: fixed;top: 0;left: 0;background: #066;display: block;width: 100%;line-height: 30px;text-align: center;z-index: 9999999; font-weight: bold; box-shadow: 0 3px 5px #254646;
}
#grabber-batch-title, #grabber-batch-add, .grabber-batch-disable, .grabber-batch-enable{
	height: 100%;background: #308686;line-height: 60px;padding: 0 10px;color: #FFF;
}
#grabber-batch-title {
	line-height: 20px;padding: 10px;
}
#grabber-batch-add, .grabber-batch-enable {
	cursor: pointer;
    background: #ed5551;
    padding: 0;
    transition: all 0.2s;
    width: 80px;
}
#grabber-batch-add:hover, .grabber-batch-disable:hover, .grabber-batch-enable:hover {
    background: #962522;
	font-size: 30px;
}
#grabber-check-all,#grabber-check-cancel{
	background:#f00;padding:2px 5px;margin:5px;border-radius:8px;color:#FFF;cursor: pointer;transition: all 0.2s;
}
#grabber-check-all:hover,#grabber-check-cancel:hover{
	background: #962522;
}
#grabber-batch-tags{
	width: 300px;height: 30px;
}
.grabber-batch-checked{
	display:block;position:absolute;width:100%;height:100%;background:#ef6662;text-align:center;line-height:100px;top:0;opacity:0.5;font-size:30px;left:0;
}